// PROJECT
.project {
  width: 90%;
  max-width: 1200px;
  margin: 2rem auto;
  display: flex;
  background-color: color(main-dark);
  color: color(grey-1);
  border-radius: 10px;
  padding: 20px;
  min-height: 10rem;
  &__image-side {
    width: 35%;
  }
  &__text-side {
    width: 65%;
  }
  &__image {
  }
  &__button {
  }
  &__title {
    text-align: justify;
    font-family: $font-serif;
    font-size: 2rem;
    border-bottom: solid 2px #ddd;
    margin-bottom: 1rem;
  }
  &__description {
    text-align: justify;
    font-family: $font-sans;
    font-size: 1rem;
  }
}
